body{
   background-color: rgb(170, 164, 164);
 }
 h1{
   text-align: center;
   margin-top: 270px;;
 }
 div{
    margin: auto; 
    position:relative; 
    top:50px; 
    border-radius: 10px; 
    width:40%; 
    height:200px; 
    background-color:whitesmoke;
 }
 p{
   text-align:center; 
   padding-top: 40px;
 } 
 input{
    position:relative; 
    left:307px; 
    top:10px;
 } 
 #output{
    text-align: center; 
    padding-top:10px;
 } 
 #button{
    position:relative; 
    left:350px; 
    top:10px; 
 }