*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   width:100vw;
   height:100vh;
   display:flex;
   flex-direction: column;
   justify-content:space-around;
   align-items: center;
    background-color: rgb(111, 10, 10);
}
h1{
  text-align: center;
  margin-top: 2em;
}
div{
   margin: auto;
   padding: 2%; 
   position:relative; 
   border-radius: 10px; 
   width:40%; 
   height:70%; 
   background-color:whitesmoke;
}
p{
  text-align:center; 
  padding-top: 40px;
} 
input{
   position:relative; 
   left:auto; 
   top:0px;
} 
#output{
   text-align: center; 
   padding-top:10px;
} 
#button{
   position:relative; 
   left:350px; 
   top:10px; 
}
#lang{
    width: 45px;
    height: 45px;
    background-image: url('assets/hun.png');
    background-size: cover ;
    background-color: blue;
    position:absolute;
    top: 5px;
    right: 5px;
}
#lang2{
    width: 45px;
    height: 45px;
    background-image: url('assets/eng.png');
    background-size: cover ;
    background-color: blue;
    position:absolute;
    top: 5px;
    right: 5px;
}