/* General ////////////// */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --green:rgb(126, 186, 86);
}

/* Main ///////////////// */
body{
  
    background-color: rgb(0, 0, 0);
}
main{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 91%;
    height: 100vh;
}

.fullLogo{
    margin-left: 33vw;
    margin-top: 4%;
    width: 27%;
 }
 .logo{
    position: fixed;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right:0%;
    width: 100px;
    padding-right: 1%;
    top:12%;
    background-color: rgb(13, 13, 17);
    z-index: 1;
 }
 .color:hover{
    color:rgb(128, 128, 128);
 }

 /* Navbar //////////////// */
#navbar{
    position: fixed;
    right:0%;
    height: 100vh;
    padding-top:12%;
    background-color:rgb(13, 13, 17); 
}
ul{
    height: 50vh;
    width: 100px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
li{
    
    text-decoration: none;
}
a{
    color:var(--green);
    text-decoration: none;
}
.contactme{
    text-decoration: underline;
}

/*Form ///////////////// */

form{
    display: inline-block;
}
.fieldset{
    width: 45vw;;
    border-radius: 10px;
    border-color:var(--green);
}
legend{
    color:var(--green);
    text-align: center;
}
.comment{
    color:var(--green);
    margin: 1em;
   
}
textarea{
    width:43vw;
    display: block;
    margin:2%;
}
input[type="submit"]{
    background-color:var(--green);
    display: block;
    margin: 45px auto 5px;
    width: 18vw;
    height: 5vh;
    font-weight: bold;
}
input[type="submit"]:hover{
    background-color: rgb(128, 128, 128);
}
label{
    margin-left: 1em;
    color:var(--green);
}
.subject{
    padding-left: 10%;
}
.last_name{
    padding-left: 7%;
}
.thanks{
    text-align: center;
    margin-top: 12%;
    color:rgb(126, 186, 86);
}
.ask{
    color:var(--green);
    text-align: center;
    margin: 4%;

}

/* Footer ////////////// */
.footer{
    position: fixed;
    right: 0%;
    bottom: 0%;
    width: 100px;
    height: 200px;
    color:var(--green);
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.icon:hover{
    color: rgb(128, 128, 128);
 }

 