/* General ////////////// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px red solid !important; visibility: visible !important;  */
}
:root{
    --green: rgb(198, 246, 60);
  --darkGreen: rgb(113, 184, 53);
  --orange: rgb(231, 149, 41);
  --black: rgb(0, 0, 0);
  --gray: rgb(64, 64, 64);
  --lightGray: rgb(211, 211, 211);
  --aliceblue: rgb(240, 248, 255);
  --kalam: Kalam, cursive;
  --numans: Numans, sans-serif;
  --openSans: "Open Sans", sans-serif;
}
/* Scrollbar for Chrome, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--green);
}

/* Navbar //////////////// */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 6vw;
  position: fixed;
  top: 0;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 2;
  transition: display 2s ease;
}

/* For navbar behavior when scrolling */
.disappear {
  display: none;
}
.appear {
  display: flex;
}
/* //////////// */

.logo-green {
  background-image: url(assets/logo-green.webp);
  width: 3.2vw;
  padding-top: 3.5vw;
  margin-left: 11.3vw;
  background-size: contain;
  background-repeat: no-repeat;
}
.name-green {
  background-image: url(assets/name-green.webp);
  width: 14vw;
  height: 5vw;
  margin-top: 2vw;
  margin-left: -27.5vw;
  background-size: contain;
  background-repeat: no-repeat;
  scale: 1;
}
.textBox {
  width: 30vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: -32vw;
}
.work {
  margin-left: 1.9vw;
}
.connect {
  width: 10vw;
  height: 3vw;
  border-radius: 60%;
  background-color: var(--darkGreen);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.item {
  color: var(--aliceblue);
  font-size: 1.4vw;
}
.checkbox-container {
  height: 2vw;
  margin-left: 9vw;
  position: relative;
  right: -14vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.checkbox-line {
  width: 3vw;
  height: 0.4vh;
  border-radius: 20px;
  background-color: var(--green);
}

/* Main ///////////////// */

body {
  background-color: var(--black);
  width: 100vw;
  height: fit-content;
  overflow-x: hidden;
}
.section {
  scroll-snap-align: start;
}
a {
  text-decoration: none;
}
#home {
  width: 100vw;
  background-color: var(--black);
  background-size: cover;
  background-position: center;
  position: relative;
}
.photoHomeTop {
  background-image: url(assets/background-bee.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 19vw;
  height: 11vw;
  transform: rotate(180deg);
  margin-top: 6vw;
}
.slogan {
  color: var(--aliceblue);
  height: 16vw;
  position: relative;
  z-index: 1;
  margin-top: -11vw;
  font-size: 2.4vw;
  font-family: var(--openSans);
}
.discover {
  padding-left: 22.5vw;
  animation: appear 5s;
}
.everything {
  padding-left: 29vw;
  padding-top: 0.3vw;
  animation: appear 10s;
}
.developer {
  font-size: 2.7vw;
  color: var(--green);
  padding-left: 20.7vw;
  margin-top: -0.4vw;
  font-family: var(--kalam);
  animation: appear 10s;
}
.can {
  padding-left: 33.2vw;
  margin-top: -1vw;
  animation: appear 10s;
}
.photoHome {
  width: 100vw;
  height: 60vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(assets/background-code.jpeg);
  display: block;
}
.introduction {
  color: var(--aliceblue);
  font-family: var(--kalam);
  position: relative;
  width: 50vw;
  margin-top: -49vw;
  margin-left: 41vw;
  opacity: 0;
}
.animate-textHome {
  animation: textSlideinHome 2s ease;
  opacity: 1;
}
.welcome {
  text-align: center;
  padding-bottom: 4vw;
  font-family: var(--kalam);
  font-size: 2.5vw;
  font-weight: 400;
}
.about {
  width: 56vw;
  padding-left: 17vw;
  font-family: var(--openSans);
  font-size: 2vw;
}
.photoHome2 {
  width: 37vw;
  height: 37vw;
  margin-top: -20vw;
  margin-left: 6.5vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(assets/background-main2.webp);
  opacity: 0;
}
.animate-photoHome2 {
  animation: photoSlideinHome 4s ease;
  opacity: 1;
}
.textHome {
  color: var(--green);
  text-align: left;
}
.textHome2 {
  color: darkgray;
}
#aboutMe {
  width: 100vw;
  height: fit-content;
  /* margin-top: -1vh; */
  position: relative;
}
.skills {
  height: 18vw;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(198, 246, 60, 0.4)),
    url(assets/background-keyboard.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: darkgray;
  font-family: var(--kalam);
  position: relative;
  z-index: 1;
}
.css {
  font-size: 2.7vw;
  color: var(--green);
  display: inline-block;
  position: absolute;
  top: 2vw;
  left: 5vw;
  font-family: var(--kalam);
  font-weight: 600;
}
.responsive {
  font-size: 3.8vw;
  color: var(--green);
  display: inline-block;
  position: absolute;
  top: 4vh;
  left: 39vw;
  font-family: var(--openSans);
}
.html {
  font-size: 2.5vw;
  color: var(--green);
  display: inline-block;
  position: absolute;
  top: 4.2vw;
  left: 18vw;
  font-family: var(--openSans);
}
.javaScript {
  font-size: 4.1vw;
  color: var(--green);
  display: inline-block;
  position: absolute;
  top: 10vw;
  left: 24vw;
  font-weight: 400;
  font-style: italic;
}
.animation {
  font-size: 3.3vw;
  color: var(--green);
  display: inline;
  position: absolute;
  top: 9.6vw;
  left: 65vw;
  font-family: var(--openSans);
  font-weight: 600;
}
.sql {
  font-size: 3vw;
  color: var(--green);
  display: inline-block;
  position: absolute;
  top: 4.5vw;
  left: 87vw;
  font-family: var(--openSans);
  font-weight: 400;
  font-style: italic;
}
#myWorks {
  width: 100vw;
  height: 60vw;
  position: relative;
  background-color: var(--darkGreen);
}
.works {
  position: absolute;
  width: 100vw;
}
.java {
  font-size: 3vw;
  color: var(--gray);
  display: inline;
  position: absolute;
  top: 1vw;
  left: 37vw;
  font-family: var(--openSans);
  font-weight: 600;
}
.optimisation {
  font-size: 3vw;
  color: var(--gray);
  display: inline;
  position: absolute;
  top: 8vh;
  left: 47vw;
  font-family: var(--kalam);
}
.react {
  font-size: 2.7vw;
  color: var(--gray);
  display: inline-block;
  position: absolute;
  top: 2vw;
  left: 85vw;
  font-family: var(--openSans);
  font-weight: 600;
  font-style: italic;
}
.myWork {
  font-size: 3vw;
  color: var(--aliceblue);
  display: inline-block;
  position: absolute;
  top: 10vw;
  left: 73vw;
  font-family: var(--kalam);
  font-weight: 400;
}
.portfolios {
  display: none;
}
.container {
  margin: 0 auto;
  width: 44vw;
  height: 24vw;
  position: relative;
  top: 17vw;
}
.overlay1,
.overlay2 {
  width: 28vw;
  height: 24vw;
  position: absolute;
  top: 0;
  background-color: black;
  opacity: 0.7;
}
.overlay1 {
  left: -28vw;
}
.overlay2 {
  right: -28vw;
}
.slides {
  display: flex;
  height: 100%;
}
.slide {
  position: relative;
  min-width: 100%;
}
.slide img {
  width: 100%;
  height: 100%;
}
.barContainer {
  position: relative;
  width: 44vw;
  height: 3vw;
  margin-top: 2vw;
}
.barSlides {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.barSlide {
  width: 12vw;
  height: 5px;
  background-color: var(--aliceblue);
}
.nameContainer {
  margin: 0 auto;
  width: 44vw;
  height: 4vw;
  margin-top: 1vw;
  position: relative;
  font-size: 2.5vw;
  font-family: var(--kalam);
  color: var(--aliceblue);
  font-weight: 400;
  text-align: center;
  overflow: hidden;
}
.slideControls {
  position: absolute;
  top: 50%;
  left: -30%;
  transform: translateY(-50%);
  width: 160%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#prev-btn,
#next-btn {
  cursor: pointer;
  background: transparent;
  font-size: 3vw;
  border: none;
  padding: 1vw;
  color: var(--darkGreen);
}
#prev-btn:hover,
#next-btn:hover {
  color: var(--green);
}
.hand {
  width: 52vw;
  height: 18vw;
  position: relative;
  left: -10vw;
  top: -4vw;
  background-image: url(assets/hand2.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  scale: 1.2;
  z-index: 1;
}
/* Contact page /////////// */
.contact {
  position: relative;
  width: 100vw;
  height: 56vw;
}
.photoContact {
  width: 46vw;
  height: 26vw;
  position: absolute;
  right: 0;
  top: 2vw;
  background-image: url(assets/background-contact2.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: -1;
}
.photoContact2 {
  position: absolute;
  width: 29vw;
  height: 14vw;
  right: 0;
  bottom: -1vw;
  background-image: url(assets/background-bee.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
.textContact {
  background-color: var(--black);
  width: 46vw;
  margin-left: 5vw;
  position: absolute;
  top: 6.5vw;
  opacity: 0;
  z-index: -1;
}
.textContact1 {
  width: 41vw;
  text-align: left;
  color: var(--aliceblue);
  padding: 1vw 1vw 3vw 6vw;
  font-family: var(--kalam);
  font-size: 2.5vw;
  font-weight: 100;
}
.thanks {
  color: var(--green);
}
.textContact2 {
  width: 46vw;
  color: var(--aliceblue);
  text-align: left;
  padding: 0 3vw 0 6vw;
  font-family: var(--openSans);
  font-size: 2vw;
  line-height: 2vw;
}
.animate-photoContact {
  animation: photoSlidein 5s ease;
  opacity: 1;
}
.animate-textContact {
  animation: textSlidein 4s ease;
  opacity: 1;
}
.contactMe {
  position: absolute;
  width: 21vw;
  bottom: 16vw;
  left: 42vw;
  background-color: var(--black);
  color: var(--green);
  font-family: var(--kalam);
  font-size: 3.2vw;
  font-weight: 100;
  border-radius: 20px 0;
}
.contactMeMobile {
  color: var(--darkGreen);
  font-family: var(--kalam);
  font-size: 2.5vw;
}
.contactMe:hover {
  color: var(--darkGreen);
  cursor: pointer;
  border-radius: 0 20px;
}
.inputMobile {
  display: none;
}
[name] {
  width: 30vw;
  height: 2vw;
  outline: none;
  border: none;
  background-color: var(--aliceblue);
}
.label {
  color: var(--darkGreen);
  font-family: var(--kalam);
  font-size: 1.2vw;
}
#message{
  height: 12vw;
}
.submit {
  width: 10vw;
  height: 4vh;
  border-radius: 2vh;
  background-color: var(--darkGreen);
}
.footer {
  width: 100vw;
  height: 6vw;
  position: relative;
}
.getInTouch {
  position: absolute;
  bottom: 20.5vw;
  color: var(--green);
  margin: 0 0 0 8vw;
  font-family: var(--kalam);
  font-size: 2.5vw;
  font-weight: 100;
}
.icon {
  position: absolute;
  bottom: -1.5vw;
  color: var(--aliceblue);
  margin-left: 8vw;
  font-size: 5vw;
}
.icon:hover {
  color: rgb(128, 128, 128);
}
.bottom {
  width: 100vw;
  height: 7vh;
  background-color: rgb(0, 0, 0, 0.7);
}
.bottom-icon {
  position: absolute;
  width: 5.6vw;
  height: 4vw;
  margin-top: -14vw;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.textFooter {
  position: absolute;
  width: 47vw;
  height: 2vw;
  bottom: 1vw;
  left: 8vw;
  color: var(--aliceblue);
  font-size: 1.5vw;
  letter-spacing: 3px;
}
.popup {
  position: fixed;
  inset: 0;
  z-index: 2;
  opacity: 1;
  visibility: hidden;
}
.popupVisible {
  visibility: visible;
}
.popupBackground {
  position: absolute;
  background-color: var(--black);
  inset: 0;
  opacity: 0.7;
}
.input {
  width: 35vw;
  height: 70vh;
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--aliceblue);
  border-radius: 10px;
}
.closeContact {
  position: absolute;
  font-size: 2vw;
  right: 2vw;
  top: 2vw;
  cursor: pointer;
}

/* Animations ////////////// */

@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(0.7);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes photoSlideinHome {
  0% {
    transform: translateX(-100%);
    scale: 1;
    opacity: 0;
  }
  50% {
    transform: translateX(15%);
    scale: 1.25;
  }
  100% {
    transform: translateX(0);
    scale: 1;
    opacity: 1;
  }
}
@keyframes textSlideinHome {
  0% {
    transform: translateX(100%);
    scale: 1;
  }
  50% {
    transform: translateX(-20%);
    scale: 1.25;
  }
  100% {
    transform: translateX(0);
    scale: 1;
  }
}
@keyframes photoSlidein {
  0% {
    transform: translateX(100%);
    scale: 1;
  }
  50% {
    transform: translateX(-15%);
    scale: 1.25;
  }
  100% {
    transform: translateX(0);
    scale: 1;
  }
}
@keyframes textSlidein {
  0% {
    transform: translateX(-100%);
    scale: 1;
  }
  50% {
    transform: translateX(20%);
    scale: 1.25;
  }
  100% {
    transform: translateX(0);
    scale: 1;
  }
}

/* Media query ///////// */
@media screen and (max-width: 1400px) {
  .item {
    font-size: 1.9vw;
  }
  .connect {
    width: 11vw;
    height: 4vw;
  }
  .input {
    width: 50vw;
  }
  .label {
    font-size: 1.9vw;
  }
  [name] {
    width: 36vw;
    height: 3vw;
  }
  .contactMobile {
    font-size: 2.7vw;
  }
  .submit {
    width: 14vw;
    height: 3vw;
  }
}
@media screen and (max-width: 1200px) {
  .input {
    width: 55vw;
  }
}

@media screen and (max-width: 992px) {
  .input {
    width: 50vw;
  }
  .contactMe {
    border-radius: 10px 0;
  }
  .contactMe:hover {
    border-radius: 0 10px;
  }
}

@media screen and (max-width: 576px) {
  html {
    scroll-snap-type: none;
  }
  /* Navbar ///////////////// */
  .checkbox-container {
    height: 6vw;
    margin-left: 9vw;
    right: 7vw;
  }
  .navbar {
    height: 20vw;
  }
  .name-green {
    display: inline;
    margin: 9vw 0 0 -25vw;
    scale: 2.5;
  }
  .logo-green {
    display: inline;
    margin: 3vw 0 0 12vw;
    scale: 3;
  }
  .textBox {
    display: none;
  }
  .checkbox-line {
    width: 30px;
    height: 1px;
  }

  /* Main //////////////////// */
  .photoHomeTop {
    width: 52vw;
    height: 33vw;
  }
  #home {
    top: 13vw;
  }
  .slogan {
    height: 33vw;
    margin-top: -30vw;
    font-size: 1.3rem;
  }
  .discover {
    padding-left: 34vw;
  }
  .everything {
    padding-left: 46vw;
  }
  .developer {
    font-size: 2.1rem;
    padding-left: 24vw;
  }
  .can {
    padding-left: 62vw;
    margin-top: -3vw;
  }
  .photoHome {
    width: 100vw;
    height: 52vw;
  }
  .introduction {
    color: var(--aliceblue);
    font-family: var(--kalam);
    position: relative;
    width: 57vw;
    z-index: 1;
    margin: -46vw 0 -7vw 24vw;
    font-size: 1.3rem;
    opacity: 0;
  }
  .animate-textHome {
    animation: textSlideinHome 2s ease;
    opacity: 1;
  }
  .welcome {
    width: 50vw;
    text-align: center;
    padding-bottom: 4vw;
    font-family: var(--kalam);
    font-size: 1.5rem;
    font-weight: 400;
  }
  .about {
    width: 54vw;
    font-family: var(--openSans);
    font-size: 0.95rem;
  }
  .photoHome2 {
    width: 70vw;
    height: 73vw;
    margin-top: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(assets/background-main2.webp);
    opacity: 0;
  }
  .animate-photoHome2 {
    animation: photoSlideinHome 2s ease;
    opacity: 1;
  }
  .textHome {
    color: var(--green);
    text-align: left;
  }
  .textHome2 {
    color: darkgray;
  }
  .skills {
    height: 62vw;
  }
  .css {
    font-size: 2.1rem;
    color: var(--green);
    display: inline-block;
    position: absolute;
    top: 4vw;
    left: 6vw;
    font-family: var(--kalam);
    font-weight: 600;
    font-style: italic;
  }
  .responsive {
    font-size: 1.7rem;
    color: var(--green);
    display: inline-block;
    position: absolute;
    top: 8vw;
    left: 33vw;
    font-family: var(--openSans);
  }
  .html {
    font-size: 2.1rem;
    color: var(--green);
    display: inline-block;
    position: absolute;
    top: 20vw;
    left: 25vw;
    font-family: var(--openSans);
  }
  .javaScript {
    font-size: 2.1rem;
    color: var(--green);
    display: inline-block;
    position: absolute;
    top: 32vw;
    left: 44vw;
    font-weight: 400;
    font-style: italic;
  }
  .animation {
    font-size: 1.7rem;
    color: var(--green);
    display: inline;
    position: absolute;
    top: 47vw;
    left: 29vw;
    font-family: var(--openSans);
    font-weight: 400;
    font-style: italic;
  }
  .sql {
    font-size: 1.9rem;
    color: var(--green);
    display: inline-block;
    position: absolute;
    top: 37vw;
    left: 13vw;
    font-family: var(--openSans);
    font-weight: 600;
  }
  #myWorks {
    width: 100vw;
    height: 120vw;
    position: relative;
    background-color: var(--darkGreen);
  }
  .works {
    width: 100vw;
    height: 100%;
  }
  .java {
    font-size: 1.7rem;
    color: var(--gray);
    display: inline;
    position: absolute;
    top: 4vw;
    left: 10vw;
    font-family: var(--openSans);
    font-weight: 600;
  }
  .react {
    font-size: 1.7rem;
    color: var(--gray);
    display: inline-block;
    position: absolute;
    top: 6vw;
    left: 63vw;
    font-family: var(--openSans);
    font-weight: 400;
    font-style: italic;
  }
  .optimisation {
    font-size: 1.5rem;
    color: var(--gray);
    display: inline;
    position: absolute;
    top: 16vw;
    left: 17vw;
    font-family: var(--kalam);
  }
  .myWork {
    font-size: 2.1rem;
    color: var(--aliceblue);
    display: inline-block;
    position: relative;
    top: 37vw;
    left: 50vw;
    font-family: var(--kalam);
    font-weight: 400;
  }
  .container {
    display: none;
  }
  .portfolios {
    display: block;
  }
  .hand {
    background-image: url(assets/hand.webp);
    top: 22vw;
    width: 60vw;
    height: 28vw;
    left: -7vw;
  }
  .frame {
    width: 78vw;
    height: 50vw;
    position: relative;
    top: 15.5vw;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid var(--aliceblue);
    border-radius: 40px;
    background-color: rgb(100, 147, 68);
  }
  .photoMyWork1,
  .photoMyWork2,
  .photoMyWork3 {
    width: 67vw;
    height: 34vw;
    margin: 7vw auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px 25px 0 0;
  }
  .photoMyWork1 {
    background-image: url(assets/survey-form.webp);
  }
  .photoMyWork2 {
    background-image: url(assets/roman-numbers-calculator.webp);
  }
  .photoMyWork3 {
    background-image: url(assets/calory-calculator.webp);
  }
  .textMyWorks {
    display: block;
    position: relative;
    text-align: center;
    color: var(--aliceblue);
    font-family: var(--openSans);
    font-weight: 400;
    margin-top: -7vw;
    font-size: 5vw;
  }
  .dots {
    width: 40vw;
    height: 5vw;
    position: relative;
    margin: 20vw auto 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #dot1,
  #dot2,
  #dot3 {
    width: 4vw;
    height: 4vw;
    background-color: var(--aliceblue);
    display: inline-block;
    border-radius: 2vw;
  }
  #dot2 {
    background-color: var(--gray);
  }
  #dot3 {
    background-color: var(--gray);
  }
  #contact {
    width: 100vw;
    height: auto;
  }
  .textContact {
    margin-left: 11vw;
    top: 47.5vw;
  }
  .textContact1 {
    width: 35vw;
    color: var(--aliceblue);
    text-align: left;
    padding: 2vw 3vw 0 6vw;
    font-family: var(--kalam);
    font-size: 0.9rem;
    /* font-style: italic; */
  }
  .textContact2 {
    width: 46vw;
    color: var(--aliceblue);
    text-align: left;
    padding: 0 3vw 0 6vw;
    font-family: var(--openSans);
    font-size: 0.7rem;
    line-height: 3vw;
  }
  .thanks {
    color: var(--green);
  }
  .photoContact {
    width: 77vw;
    height: 60vw;
    position: relative;
    left: 25vw;
    top: 8vw;
  }
  .photoContact2 {
    position: relative;
    right: -50vw;
    width: 52vw;
    height: 33vw;
    top: -18vw;
  }
  .input {
    display: none;
  }
  .contactMeMobile {
    color: var(--darkGreen);
    font-family: var(--kalam);
    font-size: 2rem;
    font-weight: 400;
  }
  .inputMobile {
    width: 80vw;
    height: 120vw;
    margin: 40vw auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--aliceblue);
    border-radius: 10px;
  }
  [name] {
    width: 67vw;
    height: 2vh;
    outline: none;
    border: none;
    background-color: var(--aliceblue);
  }
  .label {
    color: var(--darkGreen);
    font-family: var(--kalam);
    font-size: 1.1rem;
  }
  #message-form {
    height: 12vh;
  }
  .submit {
    width: 30vw;
    height: 4vh;
    border-radius: 2vh;
    background-color: var(--darkGreen);
  }
  .getInTouch {
    position: absolute;
    bottom: 33.5vw;
    color: var(--green);
    margin: 6vh 0 0 8vw;
    font-family: var(--kalam);
    font-size: 1.7rem;
  }
  .icon {
    position: absolute;
    bottom: -8.5vw;
    color: var(--aliceblue);
    margin-left: 8vw;
    font-size: 11vw;
  }
  .icon:hover {
    color: rgb(128, 128, 128);
  }
  .bottom {
    width: 100vw;
    height: 7vh;
    background-color: rgb(0, 0, 0, 0.7);
  }
  .bottom-icon {
    position: absolute;
    width: 13vw;
    height: 4vw;
    margin-top: -19vw;
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }
  .contactMe {
    display: none;
  }
  .textFooter {
    position: absolute;
    width: 51.5vw;
    height: 8vw;
    bottom: 0;
    left: 9vw;
    color: var(--aliceblue);
    font-size: 3vw;
    letter-spacing: 3px;
  }
  .footer {
    height: 14vw;
  }
}

@media (max-width: 365px) {
  .slogan {
    height: 40vw;
    font-size: 1rem;
  }
  .developer {
    font-size: 1.7rem;
  }
  .photoHome {
    height: 77vw;
  }
  .introduction {
    margin: -68vw 0 -14vw 24vw;
  }
  .html {
    font-size: 1.7rem;
  }
  .css {
    font-size: 1.5rem;
  }
  .javaScript {
    font-size: 1.7rem;
    top: 33vw;
  }
  .sql {
    font-size: 1.5rem;
  }
  .java {
    font-size: 1.3rem;
  }
  .react {
    font-size: 1.5rem;
  }
  #myWorks {
    height: 127vw;
  }
  .responsive {
    font-size: 1.3rem;
  }
  .myWork {
    font-size: 1.7rem;
  }
  .animation {
    font-size: 1.3rem;
  }
  .inputMobile {
    margin-top: 64vw;
  }
  .getInTouch {
    font-size: 1.2rem;
    bottom: 26.5vw;
  }
  .photoContact2 {
    top: -28vw;
  }
  .textFooter {
    width: 60vw;
    left: 7vw;
  }
  .footer {
    height: 6vw;
  }
}
