/* General ////////////// */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --green:rgb(126, 186, 86);
}

/* Main ///////////////// */
body{
         background-color: rgb(0, 0, 11);
}
main{
    position:relative;
    top: 100px;
    color: aliceblue;
}
.fullLogo{
    width: 20%;
    position: relative;
    left: 40%;
    text-align: center;

}
 .logo{
    position: fixed;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right:0%;
    width: 100px;
    padding-right: 1%;
    top:12%;
    background-color: rgb(13, 13, 17);
    z-index: 1;
 }
 .color:hover{
    color:gray;
 }

 /* Navbar //////////////// */
#navbar{
    position: fixed;
    right:0%;
    height: 100vh;
    padding-top: 12%;
    background-color: rgb(13, 13, 17); 
}
ul{
    height: 50vh;
    width: 100px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
li{
    
    text-decoration: none;
}
a{
    color: var(--green);
    text-decoration: none;
}
.mainpage{
    text-decoration: underline;
}

/* Footer ////////////// */

.footer{
    position: fixed;
    right: 0%;
    bottom: 0%;
    width: 100px;
    height: 200px;
    color:var(--green);
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}
.icon:hover{
   color: rgb(128, 128, 128);
}