*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(Corpus.jpg);
    background-color: slategrey;
    background-size: 100% 100%;
    font-size: 16px;
}
h1{
    text-align: center;
    padding: 70px 0 40px 0;
}
h3{
    text-align: center;
    padding-bottom: 20px;
}
div{
    width: 70vw;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.8);
}
label{
    margin: 15px 5px;
    display: block;
}
input{
    margin: 7px 0 0 5px;
}
p{
    margin: 15px 5px;
}
fieldset{
    padding: 30px 10px;
    margin: 0 auto;
    width: 65vw;
}
legend{
    background-color: darkgray;
    text-align: center;
}
textarea{
    width:40vw;
}
.phon_num{
    font-size: 0.7em;
}
input[type="submit"]{
    background-color: darkgray;
    margin-bottom: 5px;
    position: relative;
    bottom: 15px;
    display: inline-block;
    width: 18vw;
    height: 4vh;
    font-weight: bold;
}


