*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(Corpus.jpg);
    background-color: slategrey;
    background-size: 100% 100%;
    font-size: 16px;
}
h1{
    text-align: center;
    padding: 70px 0 40px 0;
}
h3{
    text-align: center;
    padding-bottom: 20px;
}
div{
    width: 60vw;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 10px 40px 10px;
    background-color: rgba(211, 211, 211, 0.8);
}
label{
    margin: 15px 7px;
    display: inline-block;
}
input:hover{
    box-shadow: 5px 5px 2px darkgray;
}
select:hover{
    box-shadow: 5px 5px 2px darkgray;
}
input{
    margin: 7px 0 0 5px;
}
p{
    margin: 45px 5px 1px;
    font-weight: bold;
}
.quest{
    font-size: 1.2em;
}
.top{
    margin-top: 25px
}
fieldset{
    padding: 30px 10px;
    margin: 0 auto;
    width: 55vw;
}
legend{
    background-color: darkgray;
    text-align: center;
}
.comment{
    margin-left: 25px;
    margin-bottom: 10px;
}
textarea{
    width:55vw;
    display: block;
    margin: 0 auto;
}
.phon_num{
    font-size: 0.7em;
}
input[type="submit"]{
    background-color: darkgray;
    display: block;
    margin: 45px auto 5px;
    width: 18vw;
    height: 5vh;
    font-weight: bold;
}
@media screen and (max-width: 850px){
    body{
        background-image: url(Corpus3.png);
    }
    input[type="submit"]{
        width: 18vw;
        height: 7vh;
    }
    textarea{
        width:55vw;
        margin-left: 11px;
    }
    .comment{
        margin-left: 13px;;
    }
}
@media screen and (max-width: 450px){
    body{
        background-image: url(Corpus.png);
    }
    textarea{
        width:55vw;
        margin-left: 1px;
    }
    input[type="submit"]{
        width: 18vw;
        height: 4vh;
        margin-left: 75px;
    }
    .comment{
        margin-left: 37px;
    }
}
@media screen and (max-width: 300px){
    body{
        background-image: url(Corpus.png);
    }
    textarea{
        width:67vw;
        margin-left:5px;
    }
    div{
        width: 80vw;
        margin: 0 auto;
        margin-top: 30px;
        padding: 10px;
        background-color: rgba(211, 211, 211, 0.8);
    }
    input[type="submit"]{
        width: 18vw;
        height: 3vh;
        margin-left: 74px;
    }
    .comment{
        margin-left: 37px;;
    }
}
@media screen and (max-width: 250px){
    body{
        background-image: url(Corpus.png);
    }
    textarea{
        width:83vw;
        margin-left:5px;
    }
    div{
        width: 95vw;
    }
    input[type="submit"]{
        width: 25vw;
        height: 5vh;
        margin-left: 64px;
    }
    .comment{
        margin-left: 37px;;
    }
}


